<div class="row text-white">
    <div class="col-12 col-md-4">
        <h4>RESERVAS ONLINE</h4>
        <hr>
        <h4>DESDE 150 USD</h4>
        <hr>
        <form>
            <div class="row g-4">
                <div class="col">
                    <label class="form-label">Entrada</label>
                    <input type="date" class="form-control">
                </div>
                <div class="col">
                    <label class="form-label">Salida</label>
                    <input type="date" class="form-control">
                </div>
            </div>
            <div class="row g-4 mt-2">
                <div class="col">
                    <label class="form-label">Adultos</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>#Adultos</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="col">
                    <label class="form-label">Niños</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>#Niños</option>
                        <option value="1">0</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                    </select>

                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-4 w-100">Ver precios</button>
        </form>
    </div>
</div>
