<section id="banner">
    <div class="container">
        <app-formularioreservas></app-formularioreservas>
    </div>
</section>

<section class="container mt-5">

    <div class="row row-cols-1 row-cols-md-4">


        <div class="col" *ngFor="let habitacion of listaHabitaciones">
           
            <div class="card h-100">
                <img src="{{habitacion.fotografia}}" class="card-img-top h-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{habitacion.nombre}}</h5>
                  <p class="card-text">{{habitacion.descripcion}}</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

        </div>

    </div>

</section>


