#banner{

    background-image: url("../../assets/img/banner.jpg");
    background-size: cover;
    padding: 10% 2% 30% 2%;
    background-position: top center;
    position:relative;
    z-index:1;

}

#banner::after{
    content:'';
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: black ;
    z-index: -1;
    opacity: 0.45;
}